@font-face {
    font-family: 'RuneScape UF';
    src: url('RuneScape-UF.woff2') format('woff2'),
        url('RuneScape-UF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

