:root {
	--font: white;
	--background: #212121;
}
.App {
	text-align: center;
	background-color: var(--background);
}
.MuiTableCell-body,
.MuiTableCell-head {
	color: var(--font) !important;
}
.MuiTableCell-root {
	border-bottom: 1px solid rgba(224, 224, 224, 0.2) !important;
}
th,
.p-datatable-row {
	background-color: transparent !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px solid rgba(224, 224, 224, 0.2) !important;
}
td {
	border: none !important;
}
.p-md-3,
.p-md-8 {
	padding: 0 !important;
}
