@font-face {
	font-family: 'RuneScape UF';
	src: url('../src/font/RuneScape-UF.woff2') format('woff2'),
		url('../src/font/RuneScape-UF.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
:root {
	--font: white;
	--background: #212121;
	--gainz: #7eff7e;
}
.gainz {
	color: var(--gainz) !important;
}
.App {
	text-align: center;
	background-color: var(--background);
}
.MuiTableCell-body,
.MuiTableCell-head {
	color: var(--font) !important;
}
.MuiTableCell-root {
	border-bottom: 1px solid rgba(224, 224, 224, 0.2) !important;
}
th,
.p-datatable-row {
	background-color: transparent !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: 1px solid rgba(224, 224, 224, 0.2) !important;
}
td {
	border: none !important;
}
.p-md-3,
.p-md-8 {
	padding: 0 !important;
}
div.p-tabview:nth-child(1) > div:nth-child(2) {
	min-width: 650px;
}
.p-dropdown-label {
	text-align: center;
}
.p-unselectable-text > a {
	background-color: #28311e !important;
	border-color: #424242 !important;
	border-bottom: none !important;
}
.MuiCircularProgress-circle {
	color: #637747 !important;
}
.p-datatable-scrollable-header,
.p-datatable-scrollable-footer {
	overflow: visible !important;
}
tr:nth-child(2n) {
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.03);
}
.p-tabview-selected > a {
	color: var(--gainz) !important;
}
.p-sortable-column.p-highlight,
.p-sortable-column.p-highlight,
.pi-sort-amount-up-alt,
.pi-sort-amount-down {
	color: var(--gainz) !important;
}
